{% extends "base.html" %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}

<div class="container">

    <h1>Preencha o formulário abaixo para realizar seu cadastro</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{url_for('cadastro')}}" method="post">

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Insira seu nome">

        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" placeholder="Insira seu e-mail">

        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Crie uma senha">

        <button type="submit">Cadastrar</button>

    </form>

    <a id="voltar" href="{{url_for('login')}}">
        Já possui uma conta? Faça login
    </a>

</div>

{% endblock %}