{% extends "base.html" %}

{% block titulo %} Editar Buraco número: {{ buraco.id }} {% endblock %}

{% block conteudo %}

<h1>Editar Buraco</h1>

<form method="POST">

    <label>Rua</label>
    <input type="text"name="rua"value="{{ buraco.rua }}">

    <label>Bairro</label>
    <input type="text" name="bairro" value="{{ buraco.bairro }}">

    <label>Cidade</label>
    <input type="text"name="cidade"value="{{ buraco.cidade }}">

    <label>Gravidade</label>

    <select name="gravidade">

        <option
            value="Leve"
            {% if buraco.gravidade == "Leve" %}selected{% endif %}
        >
            Leve
        </option>

        <option
            value="Médio"
            {% if buraco.gravidade == "Médio" %}selected{% endif %}
        >
            Médio
        </option>

        <option
            value="Urgente"
            {% if buraco.gravidade == "Urgente" %}selected{% endif %}
        >
            Urgente
        </option>

    </select>

    <button type="submit">
        Salvar Alterações
    </button>

</form>

{% endblock %}