{% extends "base.html" %}

{% block titulo %} Home {% endblock %}

{% block conteudo %}
<div id="centralizar-home">
    <h1 id="nomeUser">Bem-vindo "{{ current_user.nome }}"</h1>

        <br>

        <a class="cadastrarUser" href="{{ url_for('cadastrar_buraco') }}">Cadastrar Buraco</a>

        <br><br>

        <a class="verBuracos" href="{{ url_for('listar_buracos') }}">Ver Buracos Cadastrados</a>

        <br><br>
        
        <a id="sair" href="{{ url_for('logout') }}">Sair</a>
</div>
{% endblock %}