{% extends "base.html" %}

{% block titulo %} Lista de Buracos {% endblock %}

{% block conteudo %}
    <div id="listarBuracos">
    <h1 id="h1listar">Buracos Cadastrados</h1>

    <table border="1">

        <tr class="cabecalho">
            <th>Rua</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Gravidade</th>
            <th>Autor</th>
            <th>Ações</th>
        </tr>

        {% for buraco in buracos %}
        <tr>

            <td>{{ buraco.rua }}</td>
            <td>{{ buraco.bairro }}</td>
            <td>{{ buraco.cidade }}</td>
            <td>{{ buraco.gravidade }}</td>
            <td>{{ buraco.autor.nome }}</td>

            <td class="acoes">
                <a href="{{ url_for('editar_buraco', id=buraco.id) }}">Editar</a>

                <a href="{{ url_for('apagar_buraco', id=buraco.id) }}">Apagar</a>
            </td>

        </tr>
        {% endfor %}

    </table>

    <a id="voltar" href="{{ url_for('home') }}">Voltar para Home</a>
</div>
{% endblock %}